<div class="form">
	<div class="login-form">
		<h1>Log in</h1>
		<%= form_tag sessions_path do %>
  			<p><%= label_tag :username %><br /><%= text_field_tag :username, params[:username] %></p>
  			<p><%= label_tag :password %><br /><%= password_field_tag :password %></p>
  			<button>Log in</button>
  			<p class="message">Not registered? <%= link_to "Create an account", sign_up_path %></p>
		<% end %>
	</div>
</div>
