<div class="main-content">
	<div class="form">
		<h1>Edit Event</h1>
    <%= form_tag event_update_path do%>
      <p><%= label_tag :title %><%= text_field_tag :title, nil, placeholder: 'Event title...',:required => true %></p>
      <p><%= label_tag :start_date %><%= date_field_tag :start_date, :required => true %></p>
      <p><%= label_tag :end_date %><%= date_field_tag :end_date, :required => true %></p>
      <p><%= label_tag :start_time %><%= time_field_tag :start_time, :required => true %></p>
      <p><%= label_tag :end_time %><%= time_field_tag :end_time, :required => true %></p>
      <p><%= label_tag :description %><%= text_field_tag :description, :required => true%></p>
      <button class="profile_edit">Save</button>
      <button class="profile_close"> <%= link_to "Close", events_path %></button>
    <% end %>
	</div>
</div>
