<!DOCTYPE html>
<html>
<head>
  <title>Calendar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <div class="header">
    <h1>GrepRuby Event Calendar</h1>
  </div>
  <% if current_user %>
  <div class="user_nav">
    <h4><%= current_user.username %></h4>
    <div class="dropdown_menu">
      <button class="dropbtn">Menu</button>
      <div class="menu-content">
        <%= link_to "Home", home_path %>
        <%= link_to "Events", home_path %>
        <%= link_to "Profile", profile_view_path %>
        <%= link_to "Password Change", password_edit_path %>
        <%= link_to "Log out", log_out_path %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<%= yield %>
 
 
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

</body>
</html>
